* {
  margin: 0px;
  padding: 0px;
}

.button {
  padding: 2px 14px;
  border: none;
  color: #000;
  background-color: #cccccc;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  padding: 12px 16px 6px 16px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-size: 120% 100%;
}

.navbar-collapse {
  position: absolute;
  width: 100%;
  top: 84px;
  z-index: 16;
}

.navbar-nav {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.nav-link {
  text-align: center;
  color: #fff;
  background-color: #000;
}

.nav-link:hover {
  color: #000;
  background-color: #fff;
}

.carousel-indicators {
  bottom: -15px;
}

.carousel-indicators li {
  height: 5px;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #fe6400;
}

.carousel-item img {
  height: 175px;
}

.body-content {
  padding: 0px 16px;
  text-align: center;
  color: #7c7c7c;
}

.body-content header {
  padding: 16px;
  font-size: 26px;
  color: #f67f22;
}

.core-services p {
  margin-bottom: 0px;
  font-size: 15px;
}

.core-services .services div {
  margin: 20px 0px;
}

.core-services .services .service img {
  width: 60px;
}

.core-services .services .service p {
  margin: auto;
  width: 80%;
}

.core-services .services .service button {
  margin-top: 16px;
}

.latest-projects {
  margin-top: 16px;
  margin-bottom: 16px;
}

.latest-projects img {
  height: 230px;
}

.banner-block {
  padding: 16px 0;
  position: relative;
}

.banner-block .image-wrapper {
  background-color: #652796;
}

.banner-block .image-wrapper .image {
  height: 400px;
  background-image: url("../images/architecture-backlit-buildings-california.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.3;
}

.banner-content {
  color: #fbf1e0;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.banner-content .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.banner-content img {
  width: 150px;
}

.banner-content h2 {
  margin: auto;
  border-bottom: dashed #b7515f;
  display: inline;
  font-size: 20px;
  font-weight: normal;
}

.banner-content p {
  margin: auto;
  padding: 10px 0;
  width: 85%;
}

.recent-testimonial,
.upcoming-event {
  padding: 16px 0;
}

.recent-testimonial h2,
.upcoming-event h2 {
  font-size: 18px;
  font-weight: normal;
  color: #ff8c3f;
}

.recent-testimonial img {
  margin: 5px 0;
  width: 50px;
}

.recent-testimonial p,
.upcoming-event p {
  margin: auto;
  padding: 5px 0;
  width: 80%;
}

footer {
  margin-top: 20px;
  padding: 16px 0;
  font-size: 13px;
  text-align: center;
  color: #fbf1e0;
  background-color: #ff6600;
}

@media (min-width: 768px) {
  .navbar-collapse {
    position: static;
  }

  .navbar-nav {
    margin: 0 !important;
    margin-left: auto !important;
    margin-right: 16px !important;
    border: none;
  }

  .nav-link {
    padding-top: 50px;
    padding-bottom: 14px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    color: #898989;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 500;
  }

  .nav-link:hover,
  .nav-link.active {
    color: #fbf1e0;
    background-color: #ff6600;
  }

  .carousel-item img {
    height: 35vh;
  }

  .body-content header {
    font-size: 32px;
  }

  .core-services p {
    margin: auto;
    width: 75%;
  }

  .core-services .services {
    margin: auto;
    width: 90%;
  }

  .core-services .services .service p {
    width: 100%;
  }

  .latest-projects .row div {
    padding: 0px !important;
  }

  .latest-projects .row {
    padding: inherit;
  }

  .latest-projects img {
    height: 13vh;
  }

  .banner-block .image-wrapper .image {
    height: 18vh;
  }

  .banner-content .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner-content img {
    width: 120px;
  }

  .banner-content .data {
    text-align: left;
  }

  .banner-content h2 {
    font-size: 24px;
  }

  .banner-content p,
  .banner-content h2 {
    width: 100%;
    text-align: left;
  }

  #testimonial_event .row {
    padding: inherit;
    text-align: left;
  }

  #testimonial_event p {
    width: 100%;
  }

  .recent-testimonial--content {
    display: flex;
  }

  .recent-testimonial h2,
  .upcoming-event h2 {
    font-size: 24px;
  }

  .recent-testimonial--content img {
    margin-right: 16px;
  }
}

@media (min-width: 992px) {
  .carousel-item img {
    height: 67vh;
  }

  .latest-projects img {
    height: 25vh;
  }

  .banner-block .image-wrapper .image {
    height: 220px;
  }
}
