* {
  margin: 0px;
  padding: 0px;
}

.button {
  padding: 2px 14px;
  border: none;
  color: #000;
  background-color: #bdbdbd;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  padding: 12px 16px 6px 16px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-size: 120% 100%;
}

.navbar-collapse {
  position: absolute;
  width: 100%;
  top: 84px;
  z-index: 16;
}

.navbar-nav {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.nav-link {
  text-align: center;
  color: #fff;
  background-color: #000;
}

.nav-link:hover {
  color: #000;
  background-color: #fff;
}

.carousel-indicators {
  bottom: -15px;
}

.carousel-indicators li {
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #ff8c3f;
}

.carousel-item img {
  height: 175px;
}

.body-content {
  padding: 0px 16px;
  text-align: center;
  color: #868e96;
}

.body-content header {
  padding: 16px;
  font-size: 26px;
  color: #ff8c3f;
}

.core-services p {
  margin-bottom: 0px;
  font-size: 15px;
}

.core-services .services div {
  margin: 20px 0px;
}

.core-services .services .service img {
  width: 75px;
}

.core-services .services .service p {
  margin: auto;
  width: 80%;
}

.core-services .services .service button {
  margin-top: 16px;
}

.latest-projects {
  margin-top: 16px;
  margin-bottom: 16px;
}

.latest-projects img {
  height: 220px;
}

.banner-block {
  padding: 16px 0;
  position: relative;
}

.banner-block .image-wrapper {
  background-color: #6200ea;
}

.banner-block .image-wrapper .image {
  height: 400px;
  background-image: url("../images/architecture-backlit-buildings-california.jpg");
  background-size: cover;
  opacity: 0.6;
}

.banner-content {
  text-align: center;
  color: white;
  position: absolute;
  top: 29px;
}

.banner-content img {
  width: 150px;
}

.banner-content h2 {
  margin: auto;
  border-bottom: dashed #f44336;
  padding: 5px 0;
  width: 85%;
  font-size: 20px;
  font-weight: normal;
}

.banner-content p {
  margin: auto;
  padding: 10px 0;
  width: 80%;
}
