* {
  margin: 0px;
  padding: 0px;
}

.button {
  padding: 2px 14px;
  border: none;
  color: #000;
  background-color: #cccccc;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  padding: 12px 16px 6px 16px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-size: 120% 100%;
}

.navbar-collapse {
  position: absolute;
  width: 100%;
  top: 84px;
  z-index: 16;
}

.navbar-nav {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.nav-link {
  text-align: center;
  color: #fff;
  background-color: #000;
}

.nav-link:hover {
  color: #000;
  background-color: #fff;
}

.carousel-indicators {
  bottom: -15px;
}

.carousel-indicators li {
  height: 5px;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #fe6400;
}

.carousel-item img {
  height: 175px;
}

.body-content {
  text-align: center;
  color: #7c7c7c;
}

.body-content h2 {
  margin-bottom: 0px;
  padding: 20px;
  font-size: 26px;
  font-weight: 300;
  color: #f67f22;
}

.core-services p {
  width: 343px;
  margin: 0 auto;
  font-size: 15px;
}

.core-services .services div {
  margin: 20px 0px;
}

.core-services .services .service i {
  margin: 16px;
  padding: 10px;
  font-size: 45px;
  color: #fff;
  background-color: #ff6600;
  border-radius: 15px;
}

.core-services .services .service p {
  margin: auto;
  width: 285px;
}

.core-services .services .service button {
  margin-top: 16px;
}

.latest-projects {
  margin-top: 16px;
  margin-bottom: 16px;
}

.latest-projects img {
  margin: auto;
  width: 343px;
  height: 230px;
}

.banner-block {
  padding: 16px 0;
}

.banner-block .image-wrapper {
  height: 400px;
  background: linear-gradient(rgba(94, 33, 149, 0.75), rgba(94, 33, 149, 0.75)),
    url(../images/architecture-backlit-buildings-california.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1;
}

.banner-content {
  height: inherit;
  color: #fbf1e0;
  text-align: center;
}

.banner-content .row {
  height: inherit;
  align-items: center;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.banner-content img {
  width: 150px;
}

.banner-content h2 {
  margin: auto;
  border-bottom: dashed #b7515f;
  display: inline;
  font-size: 19px;
  font-weight: normal;
}

.banner-content p {
  margin: auto;
  padding: 10px 0;
  width: 300px;
}

.recent-testimonial,
.upcoming-event {
  padding: 16px 0;
}

.recent-testimonial h2,
.upcoming-event h2 {
  margin-bottom: 0.5rem;
  padding: 0px;
  font-size: 18px;
  font-weight: 300;
  color: #ff8c3f;
}

.recent-testimonial img {
  margin: 5px 0;
  width: 50px;
  height: 50px;
}

.recent-testimonial p,
.upcoming-event p {
  margin: auto;
  padding: 5px 0;
  width: 260px;
}

footer {
  margin-top: 20px;
  padding: 16px 0;
  font-size: 13px;
  text-align: center;
  color: #fbf1e0;
  background-color: #ff6600;
}

@media (min-width: 768px) {
  .navbar-collapse {
    position: static;
  }

  .navbar-nav {
    margin: 0 !important;
    margin-left: auto !important;
    margin-right: 16px !important;
    border: none;
  }

  .nav-link {
    padding-top: 50px;
    padding-bottom: 14px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    color: #363636;
    background-color: #fff;
    text-transform: uppercase;
  }

  .nav-link:hover,
  .nav-link.active {
    color: #fbf1e0;
    background-color: #ff6600;
  }

  .carousel-item img {
    height: 35vh;
  }

  .body-content h2 {
    font-size: 32px;
  }

  .core-services p {
    margin: auto;
    width: 720px;
  }

  .core-services .services .service p {
    width: 160px;
  }

  .latest-projects .row div {
    padding: 0px !important;
  }

  .latest-projects .row {
    padding: inherit;
  }

  .latest-projects img {
    margin: auto;
    width: 180px;
    height: 120px;
  }

  .banner-block .image-wrapper {
    height: 170px;
  }

  .banner-content .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner-content img {
    width: 140px;
  }

  .banner-content .data {
    margin: 16px 0;
    align-self: flex-start;
    text-align: left;
  }

  .banner-content h2 {
    padding-bottom: 2px;
    font-size: 24px;
  }

  .banner-content p,
  .banner-content h2 {
    margin: 0;
    width: 520px;
    text-align: left;
  }

  #testimonial_event .row {
    text-align: left;
  }

  .recent-testimonial--content {
    display: flex;
  }

  .recent-testimonial h2,
  .upcoming-event h2 {
    font-size: 24px;
    margin-bottom: 1rem;
  }

  .recent-testimonial--content img {
    margin-right: 16px;
  }

  .recent-testimonial--content p {
    width: 360px;
    margin: 0;
  }

  .upcoming-event p {
    width: 260px;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .carousel-item img {
    height: 67vh;
  }

  .latest-projects img {
    margin: auto;
    width: 240px;
    height: 160px;
  }

  .banner-block .image-wrapper {
    height: 220px;
  }

  .banner-content img {
    width: 180px;
  }

  .banner-content p,
  .banner-content h2 {
    width: 620px;
  }

  .recent-testimonial--content p {
    width: 600px;
  }
}

@media (min-width: 1200px) {
  .latest-projects img {
    margin: auto;
    width: 292px;
    height: 195px;
  }
  /* 
  .banner-block .image-wrapper {
    height: 265px;
  }

  .banner-content img {
    width: 220px;
  }

  .banner-content p,
  .banner-content h2 {
    width: 720px;
  } */

  /* .recent-testimonial--content p {
    width: 800px;
  } */
  /* 
  .upcoming-event p {
    width: 300px;
  } */
}
